.about_container {
  display: flex;
  gap: 2rem;
  justify-content: space-between;
  align-items: flex-start;
  padding: 1rem 2rem;
}

.about_container h3 {
  width: 100%;
  font-family: var(--PRICE_FONT);
  font-weight: lighter;
  font-size: 3rem;
  margin-bottom: 1rem;
  overflow: hidden;
  color: #6a2828;
}

.about_container h3 span {
  display: block;
  animation: appear 1.4s ease;
}

@keyframes appear {
  from {
    opacity: 0;
    transform: translateY(20%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.about_container p {
  width: 100%;
  font-family: var(--DESCRIPTION_FONT);
  font-weight: normal;
  font-size: 1.5rem;
  line-height: 40px;
  animation: appearp 1.4s ease;
  color: #6a2828;
}

@keyframes appearp {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.about_container img {
  position: relative;
  width: 500px;
  object-fit: cover;
  animation: expand 1.4s ease;
  border-radius: 20px;
  border: 1px solid var(--BTNCOLOR);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  filter: brightness(80%);
}

@keyframes imageAppearance {
  from {
    width: 400px;
  }
  to {
    width: 0px;
  }
}

@keyframes expand {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* ABOUT PAGE RESPONSIVE DESIGN */

@media screen and (max-width: 990px) {
  .about_container {
    gap: 1.8rem;
    padding: 2rem;
  }

  .about_container h3 {
    font-size: 2.5rem;
    margin-bottom: 0.7rem;
  }

  .about_container p {
    font-size: 1.3rem;
    line-height: 1.5;
  }

  .about_container img {
    width: 400px;
  }
}

@media screen and (max-width: 860px) {
  .about_container {
    flex-direction: column;
  }
}

@media screen and (max-width: 560px) {
  .about_container {
    padding: 1rem;
  }

  .about_container img {
    width: 100%;
  }
}

@media screen and (max-width: 400px) {
  .about_container h3 {
    font-size: 2.2rem;
    margin-bottom: 0.5rem;
  }
}

/* FOOTER STYLES */

footer {
  padding-top: 3rem;
}
