header {
  position: relative;
  height: 120px;
  display: grid;
  place-content: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

header h1 {
  position: absolute;
  top: 10px;
  left: 10px;
}

header h1 img {
  height: 100px;
}

header h2 {
  flex-grow: 1;
  display: flex;
  align-items: center;
  font-family: var(--NAVIGATION_FONT);
  font-size: clamp(1.8rem, 8vw, 2.6rem);
  font-weight: 300;
}

/* CHECKOUT MAIN CONTENT */

/* CHECKOUT PREVIEW */

.preview-popup {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  -webkit-backdrop-filter: blur(5px) brightness(80%);
  backdrop-filter: blur(5px) brightness(80%);
  display: grid;
  place-content: center;
  opacity: 0;
  z-index: -1;
  transition: all 0.3s ease;
}

.preview-popup.preview {
  opacity: 1;
  z-index: 100;
}

.preview-card {
  background: var(--BACKGROUND);
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 1rem 2rem;
  padding-bottom: 2rem;
  width: 450px;
  display: flex;
  gap: 1rem;
  flex-direction: column;
}

.preview-card h2 {
  text-align: center;
  font-family: var(--NAVIGATION_FONT);
  color: var(--BTNCOLOR);
  font-weight: 600;
  font-size: 2rem;
  margin-bottom: 1.5rem;
}

.preview-content {
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
}

.preview-content h3 {
  font-family: var(--DESCRIPTION_FONT);
  margin-bottom: 1rem;
}

.preview-content label,
.preview-content article p {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  font-family: var(--PRICE_FONT);
}

.preview-content label input {
  height: 40px;
  width: 100%;
  padding-left: 1rem;
  font-family: var(--PRICE_FONT);
}

.preview-content label div {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.preview-content article p {
  height: 40px;
}

.preview-content article p {
  color: var(--BTNCOLOR);
}

.preview-content article p span {
  color: black;
}

.preview-card button {
  height: 40px;
  border-radius: 5px;
  background: var(--BTNCOLOR);
  color: white;
  font-family: var(--PRICE_FONT);
  font-size: 1rem;
  text-transform: uppercase;
  transition: all 0.3s ease;
  cursor: pointer;
  border: 2px solid var(--BTNCOLOR);
}

.preview-card button:hover {
  background: transparent;
  color: var(--BTNCOLOR);
}

@media screen and (max-width: 480px) {
  .preview-card {
    width: 320px;
    padding: 1rem;
  }

  .preview-content label {
    grid-template-columns: repeat(1, 1fr);
  }

  .preview-content label input {
    height: 35px;
    padding-left: 0.7rem;
  }

  .preview-content label div {
    gap: 0.3rem;
  }

  .preview-content article p {
    height: 35px;
    display: flex;
    justify-content: space-between;
  }

  .preview-card button {
    height: 35px;
    font-size: 0.9rem;
  }
}

main {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(2, 1fr);
  padding: 1rem;
}

#summary {
  height: 620px;
  overflow: auto;
  padding: 1rem;
  position: sticky;
  top: 0;
}

#summary .checkout-items figure {
  display: flex;
  gap: 1rem;
  padding: 1rem;
  border-bottom: 1.5px solid var(--BTNCOLOR);
}

#summary .checkout-items figure img {
  width: 130px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  border: 1px solid var(--BTNCOLOR);
}

#summary .checkout-items figure figcaption {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

#summary .checkout-items figure figcaption ul li:first-child {
  font-size: clamp(1rem, 4vw, 1.4rem);
  font-family: var(--NAVIGATION_FONT);
}

#summary .checkout-items figure figcaption ul li:last-child {
  font-family: var(--DESCRIPTION_FONT);
  font-weight: 500;
  font-size: clamp(1rem, 3vw, 1.2rem);
  margin-top: 0.5rem;
  color: var(--BTNCOLOR);
}

#summary .checkout-items figure figcaption p.price {
  font-family: var(--PRICE_FONT);
  font-size: 1.1rem;
  color: black;
}

#summary .delivery {
  padding: 1rem;
  display: flex;
  gap: 1rem;
  flex-direction: column;
}

#summary .delivery h3 {
  font-family: var(--NAVIGATION_FONT);
  font-size: clamp(1.4rem, 6vw, 2rem);
  font-weight: lighter;
  color: var(--BTNCOLOR);
}

#summary label {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 1.3rem;
  font-family: var(--PRICE_FONT);
  cursor: pointer;
}

#form {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  padding: 2rem;
}

#form article {
  display: flex;
  gap: 1rem;
  flex-direction: column;
}

#form label {
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
  font-family: var(--NAVIGATION_FONT);
}

#form label input:not(input[type="radio"]) {
  height: 40px;
  width: 100%;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 2px;
  padding-left: 1rem;
  font-family: var(--NAVIGATION_FONT);
  border: none;
  outline: 1px solid rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
}

#form label input:not(input[type="radio"]):focus {
  outline: 1px solid rgba(0, 0, 0, 0.6);
}

#form label[for="phone-num"] div {
  display: flex;
  gap: 1rem;
  align-items: CENTER;
  font-size: 1.3rem;
}

#payment {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  padding-top: 1rem;
}

#payment h3 {
  font-family: var(--NAVIGATION_FONT);
  font-weight: lighter;
  font-size: clamp(1.4rem, 6vw, 2rem);
  color: var(--BTNCOLOR);
}

#payment .options {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 1rem;
}

#payment .options label {
  display: flex;
  flex-direction: row-reverse;
  gap: 0.3rem;
  font-size: 1.5rem;
  cursor: pointer;
}

#payment .options label input {
  width: 20px;
}

.payment-information {
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  border-radius: 5px;
  gap: 1rem;
  place-content: center;
  padding: 1rem;
  display: none;
  animation: methodAppear 0.5s ease;
}

@keyframes methodAppear {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.payment-information.checked {
  display: grid;
}

.payment-information h4 {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
}

.payment-information h4 {
  font-family: var(--PRICE_FONT);
  font-weight: 500;
  font-size: 1.1rem;
}

.payment-information h4 svg {
  width: unset;
}

.payment-information article {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.payment-information article p {
  font-family: var(--NAVIGATION_FONT);
}

.payment-information article input {
  height: 40px;
  text-align: center;
}

#form p.notice {
  color: var(--BTNCOLOR);
  font-family: var(--DESCRIPTION_FONT);
  font-weight: 800;
  font-size: 1.05rem;
}

#form .btns {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(2, 1fr);
}

#form button {
  height: 50px;
  background: var(--BTNCOLOR);
  color: white;
  font-family: var(--PRICE_FONT);
  font-size: 1.2rem;
  border-radius: 3px;
  cursor: pointer;
  margin-top: 2rem;
}

#form button:first-child {
  background: transparent;
  border: 1px solid black;
  color: black;
}

#form button:first-child:disabled {
  opacity: 0.5;
}

@media screen and (max-width: 920px) {
  main {
    gap: 2rem;
    grid-template-columns: repeat(1, 1fr);
  }

  #summary {
    position: unset;
    padding: 0;
    height: unset;
  }

  #payment {
    padding-top: 0;
  }

  #form {
    padding: 0;
  }

  #form section {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(2, 1fr);
  }

  .payment-information {
    align-self: center;
    padding: 2rem;
  }

  .payment-information h4 {
    margin-bottom: 1rem;
  }
}

@media screen and (max-width: 740px) {
  #form section {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media screen and (max-width: 460px) {
  header h1 img {
    height: 80px;
  }

  #summary .checkout-items figure img {
    width: 110px;
  }

  #payment .options label {
    gap: 0.2rem;
    font-size: 1.2rem;
  }

  #payment .options label input {
    width: 15px;
  }

  .payment-information {
    padding: 1rem;
    align-self: stretch;
  }

  .payment-information article input {
    width: 100%;
  }
}
