::-webkit-scrollbar {
  display: none;
}

/* CHECKOUT PAGE */

#checkout_page {
  min-height: 80vh;
  padding: 2rem;
}

#checkout_page form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

#checkout_page form ol li {
  font-family: var(--NAVIGATION_FONT);
  font-size: 1.4rem;
}

.form_header {
  margin: 1rem 0;
}

.form_header h2 {
  font-family: var(--NAVIGATION_FONT);
  font-size: 3rem;
  font-weight: lighter;
}

.disclaimer {
  font-family: var(--PRICE_FONT);
  font-size: 0.8rem;
  transform: translateY(-5px);
  display: block;
  color: rgba(0, 0, 0, 0.7);
  white-space: nowrap;
}

/* ORDERED LIST SECTIONS STYLES */

.divider {
  width: 100%;
  border: 0.1px solid rgba(0, 0, 0, 0.1);
}

/* CONTACT INFO */

#contact_info {
  margin-top: 2rem;
}

#contact_info article {
  display: flex;
  row-gap: 2rem;
  column-gap: 1.5rem;
  flex-wrap: wrap;
  padding: 1rem 0;
  width: 50vw;
}

#contact_info label {
  position: relative;
}

#contact_info .input-label {
  position: absolute;
  bottom: 3px;
  font-family: var(--PRICE_FONT);
}

#contact_info label section {
  display: flex;
  gap: 0.6rem;
  align-items: flex-end;
}

#contact_info label input {
  background: transparent;
  border: none;
  outline: none;
  outline-color: none;
  border-bottom: 1px solid;
  height: 35px;
  width: 260px;
  font-family: var(--PRICE_FONT);
}

#phone_input div {
  font-family: var(--NAVIGATION_FONT);
  font-size: 1.1rem;
}

#phone_input input {
  font-family: var(--NAVIGATION_FONT) !important;
}

#email_input svg {
  display: block;
}

/* FORM FILLED CHECK */

#enabler_check {
  margin-top: 2rem;
}

#enabler_check label {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

#enabler_check label article {
  display: grid;
  position: relative;
  place-items: center;
}

#enabler_check label input {
  appearance: none;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  height: 25px;
  width: 25px;
}

#enabler_check label img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}

#enabler_check label img.checkedIcon {
  display: block;
}

#enabler_check label p {
  font-family: var(--NAVIGATION_FONT);
  font-size: 0.9rem;
}

/* PAYMENT METHODS */

#payment_method {
  margin-top: 2rem;
}

#payment_method ul {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 1rem 0;
}

#payment_method ul li {
  background: transparent;
  border: 1px solid;
  margin-top: 0.5rem;
  border-radius: 5px;
  width: 125px;
  height: 40px;
  font-family: var(--NAVIGATION_FONT);
  font-weight: light;
  color: black;
  font-size: 1.1rem !important;
  overflow: hidden;
  cursor: pointer;
  position: relative;
  transition: all 0.6s;
  display: grid;
  place-content: center;
}

#payment_method ul li a:any-link {
  position: absolute;
  width: 100%;
  height: 100%;
  display: grid;
  place-content: center;
}

#payment_method ul li::after {
  content: "";
  position: absolute;
  top: 0;
  left: -10px;
  height: inherit;
  width: 0;
  transform: skewX(-20deg);
  transition: all 0.6s;
  z-index: -1;
  background: var(--BTNCOLOR);
}

#payment_method ul li:hover {
  color: var(--BACKGROUND);
}

#payment_method ul li:hover::after {
  width: 150px;
}

/* CONFIRMATION CARD */

#checkout_page figure {
  width: 350px;
  display: flex;
  flex-direction: column;
  border: 0.1px solid rgba(0, 0, 0, 0.2);
  align-items: center;
  position: relative;
  transform: translateY(-60px);
}

#checkout_page figure img {
  width: 200px;
  margin: 1rem;
}

.purchase_item_name {
  margin: 0.5rem;
  font-family: var(--NAVIGATION_FONT);
  font-size: 1.5rem;
  text-align: center;
}

.purchase_item_name span {
  font-size: 0.9rem;
}

.main_details {
  display: flex;
  justify-content: space-between;
  padding: 0.6rem 2rem;
}

.main_details ul li {
  margin-bottom: 0.4rem;
}

.main_details .charges li {
  font-family: var(--NAVIGATION_FONT);
  margin-right: 1rem;
  font-size: 1rem;
}

.main_details .prices li {
  font-family: var(--PRICE_FONT);
  color: rgba(0, 0, 0, 0.7);
  font-size: 1rem;
}

.cancel_confirm_buttons {
  width: 100%;
  display: flex;
  gap: 1rem;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0.6rem;
}

.cancel_confirm_buttons button {
  background: transparent;
  border: 1px solid;
  margin-top: 0.5rem;
  border-radius: 5px;
  width: 125px;
  height: 40px;
  display: grid;
  place-content: center;
  font-family: var(--NAVIGATION_FONT);
  font-weight: light;
  color: black;
  font-size: 1.1rem !important;
  overflow: hidden;
  cursor: pointer;
  position: relative;
  transition: all 0.6s;
}

.cancel_confirm_buttons button::after {
  content: "";
  position: absolute;
  top: 0;
  left: -10px;
  height: inherit;
  width: 0;
  transform: skewX(-20deg);
  transition: all 0.6s;
  z-index: -1;
  background: var(--BTNCOLOR);
}

.cancel_confirm_buttons button:hover {
  color: var(--BACKGROUND);
}

.cancel_confirm_buttons button:hover::after {
  width: 150px;
  background: var(--BTNCOLOR);
}

/* PAYMENT PAGE */

.payment_page {
  min-height: 100vh;
  max-width: 100vw;
  padding-top: 2rem;
}

#payment_section {
  width: 100vw;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

#payment_section header {
  padding: 0 1rem;
  padding-top: 1rem;
}

#payment_section header h3 {
  font-family: var(--NAVIGATION_FONT);
  font-size: 3rem;
  font-weight: lighter;
}

#payment_section header span {
  font-family: var(--PRICE_FONT);
  font-size: 0.8rem;
  display: block;
  transform: translateY(-11px);
  color: rgba(0, 0, 0, 0.7);
}

#payment_section ul {
  padding: 0 2rem;
  list-style: circle;
}

#payment_section ol {
  padding: 2rem;
}

#payment_section ul li,
#payment_section ol li {
  font-family: var(--NAVIGATION_FONT);
  font-size: 1.2rem;
  font-weight: lighter;
  margin-top: 1rem;
}

#payment_section ul li.indetification span {
  color: rgba(0, 0, 0, 0.5);
}

#payment_section article section {
  display: flex;
  gap: 1rem;
  align-items: center;
  padding: 1rem;
}

#payment_section article button {
  background: transparent;
  border: 1px solid;
  margin-top: 0.5rem;
  border-radius: 5px;
  width: 125px;
  height: 40px;
  font-family: var(--NAVIGATION_FONT);
  font-weight: light;
  color: black;
  font-size: 1.1rem !important;
  overflow: hidden;
  cursor: pointer;
  position: relative;
  transition: all 0.6s;
}

#payment_section article button a:any-link {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: grid;
  place-content: center;
}

#payment_section article button::after {
  content: "";
  position: absolute;
  top: 0;
  left: -10px;
  height: inherit;
  width: 0;
  transform: skewX(-20deg);
  transition: all 0.6s;
  z-index: -1;
  background: var(--BTNCOLOR);
}

#payment_section article button:hover {
  color: var(--BACKGROUND);
}

#payment_section article button:hover::after {
  width: 150px;
}

/* CHECKOUT PAGE RESPONSIVE DESIGN */

@media screen and (max-width: 845px) {
  /* CHECKOUT PAGE */

  #checkout_page form ol:not(.steps) li {
    font-size: 1.3rem;
  }

  .form_header h2 {
    font-size: 2.8rem;
  }

  /* CONTACT INFO */

  #contact_info label input {
    height: 35px;
    width: 250px;
  }

  /* PAYMENT METHODS */

  #payment_method ul li {
    width: 115px;
    height: 35px;
    font-size: 1rem;
  }

  /* CONFIRMATION CARD */

  #checkout_page figure {
    width: 320px;
  }

  #checkout_page figure img {
    width: 190px;
  }

  .purchase_item_name {
    font-size: 1.4rem;
  }
}

@media screen and (max-width: 768px) {
  #checkout_page figure {
    transform: translateY(10px);
  }
}

@media screen and (max-width: 350px) {
  /* CHECKOUT PAGE */

  #checkout_page form ol:not(.steps) li {
    font-size: 1.2rem;
  }

  .form_header h2 {
    font-size: 2.6rem;
  }

  /* CONTACT INFO */

  #contact_info label input {
    height: 30px;
    width: 230px;
  }

  /* CONFIRMATION CARD */

  #checkout_page figure {
    width: 310px;
  }

  .purchase_item_name {
    font-size: 1.3rem;
  }
}

/* PAYMENT PAGE RESPONSIVE DESIGN */

@media screen and (max-width: 550px) {
  #payment_section ul li,
  #payment_section ol li {
    font-size: 1.1rem !important;
  }
}

@media screen and (max-width: 441px) {
  #payment_section ul,
  #payment_section ol {
    padding: 1.3rem;
  }

  #payment_section ul li,
  #payment_section ol li {
    font-size: 1rem !important;
  }
}

@media screen and (max-width: 398px) {
  #payment_section ul li,
  #payment_section ol li {
    font-size: 0.95rem !important;
  }
}
