/* GALLERY LAYOUT */

.gallery ul {
  margin-top: 3rem;
  width: 100%;
  columns: 4;
  padding: 0 2rem;
}

.gallery ul li {
  position: relative;
  margin-bottom: 0.6rem;
  border: 2px solid transparent;
  border-radius: 10px;
  overflow: hidden;
  transition: all 0.3s ease;
}

.gallery ul li img {
  transition: all 0.3s;
  width: 100%;
  filter: blur(5px) brightness(80%);
}

.gallery ul li.loaded img {
  filter: none;
}

.gallery ul li.loaded:hover {
  border: 2px solid var(--BTNCOLOR);
}

.gallery ul li .img-loading {
  border: 3px solid var(--BTNCOLOR);
  border-top: 3px solid transparent;
  height: 80px;
  width: 80px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  animation: imgLoading 1s linear infinite;
}

@keyframes imgLoading {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

.image_name {
  color: white;
  font-family: var(--DESCRIPTION_FONT);
  font-weight: light;
  font-size: 2rem;
  position: absolute;
  top: 10px;
  left: 10px;
  opacity: 0;
  transition: all 0.5s;
}

.image_name span {
  font-size: 1.2rem;
}

/* GALLERY OPENED BACKGROUND */

.gallery_open {
  position: fixed;
  top: 0%;
  left: 0%;
  z-index: -1;
  height: 100%;
  width: 100vw;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: -1;
  opacity: 0;
  transition: 0.3s;
}

.gallery_open.active {
  z-index: 1000;
  opacity: 1;
}

.gallery_open section {
  z-index: 10;
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  padding: 1rem;
}

.gallery_open section h3 {
  font-family: var(--NAVIGATION_FONT);
  color: var(--BTNCOLOR);
  font-weight: 500;
  font-size: clamp(1.3rem, 5vw, 2rem);
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.gallery_open .close-btn {
  width: 40px;
  height: 40px;
  display: grid;
  place-content: center;
  cursor: pointer;
  background: var(--BACKGROUND);
  border-radius: 50%;
  border: 1px solid var(--BTNCOLOR);
}

.gallery_open img {
  width: min(500px, 90vw);
  height: max(80%, 400px);
  object-fit: contain;
}

@media screen and (max-width: 670px) {
  .gallery ul {
    columns: 3;
    padding: 0 1.5rem;
  }
}

@media screen and (max-width: 500px) {
  .gallery ul {
    columns: 2;
  }
}

@media screen and (max-width: 400px) {
  .gallery ul {
    padding: 0 0.5rem;
  }

  .gallery ul li {
    margin-bottom: 0;
  }
}

/* GALLERY OPEN RESPONSIVE DESIGN */
