/* FONT-FAMILY */

@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* VARIABLES */

:root {
  --BACKGROUND: #dbdbdb;
  --BTNCOLOR: #6a2828;
  --NAVIGATION_FONT: "Playfair Display";
  --PRICE_FONT: "PT serif";
  --DESCRIPTION_FONT: "Cormorant Garamond";
}

/* RESET */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*::selection {
  background: #784343;
  color: var(--BACKGROUND);
}

img::selection {
  background: none;
}

ul {
  list-style: none;
}

li {
  cursor: pointer;
}

a:any-link,
a:visited {
  text-decoration: none;
  color: var(--PRIMARY);
}

button {
  border: none;
  outline: none;
  outline-color: none;
}

body.covered {
  overflow: hidden;
}

/* PAGE POPUP */

.popup_container {
  position: fixed;
  top: 0%;
  left: 0%;
  z-index: -1;
  height: 100%;
  width: 100vw;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: -1;
  opacity: 0;
  transition: 0.3s;
}

.popup_container.blur {
  z-index: 10000;
  opacity: 1;
}

/* PURCHASE LOADING EFFECT */

.loading {
  height: 100%;
  width: 100%;
  display: none;
  place-content: center;
}

.loading.activated {
  display: grid;
}

.indication {
  height: 100px;
  width: 100px;
  border: 4px solid var(--BTNCOLOR);
  border-radius: 50%;
  border-top: none;
  border-right: none;
}

.loading.activated .indication {
  animation: loading 1s infinite linear;
}

@keyframes loading {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.shopping-option_popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: var(--BACKGROUND);
  width: 400px;
  height: 250px;
  display: grid;
  gap: 4rem;
  place-content: center;
  opacity: 0;
  z-index: -1;
  transition: all 0.3s;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  box-shadow: -5px -5px 10px rgba(0, 0, 0, 0.1);
}

.shopping-option_popup .back_btn {
  position: absolute;
  margin: 0.8rem 1rem;
  background: transparent;
  font-family: var(--DESCRIPTION_FONT);
  font-size: 1.3rem;
  text-transform: uppercase;
  cursor: pointer;
  color: black;
}

.shopping-option_popup header {
  display: grid;
  gap: 0.5rem;
  place-items: center;
}

.shopping-option_popup h3 {
  font-family: var(--NAVIGATION_FONT);
  font-size: 2rem;
  font-weight: lighter;
  text-align: center;
  position: relative;
}

.styler {
  height: 1px;
  width: 40px;
  background: black;
}

.shopping-option_popup ul {
  display: flex;
  width: 400px;
  justify-content: space-evenly;
  font-weight: bold;
  font-size: 1.5rem;
}

.shopping-option_popup ul li {
  background: var(--BTNCOLOR);
  border-radius: 5px;
  width: 120px;
  height: 40px;
  display: grid;
  place-content: center;
  position: relative;
  font-family: var(--DESCRIPTION_FONT);
}

.shopping-option_popup ul li a:any-link {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: grid;
  place-content: center;
  border: 1px solid var(--BACKGROUND);
  border-radius: 10px;
  color: var(--BACKGROUND);
}

.shopping-option_popup ul li {
  color: var(--BACKGROUND);
}

.shopping-option_popup p {
  font-family: var(--DESCRIPTION_FONT);
  font-size: 1.2rem;
  transform: translateY(-20px);
}

/* GENERAL POPUP RESPONSIVE DESIGN */

@media screen and (max-width: 500px) {
  .shopping-option_popup {
    width: 320px;
    height: 210px;
  }

  .shopping-option_popup .back_btn {
    font-size: 1.1rem;
  }

  .shopping-option_popup ul {
    width: 320px;
    font-size: 1.3rem;
  }

  .shopping-option_popup ul li {
    width: 100px;
    height: 35px;
  }
}

@media screen and (max-width: 385px) {
  .shopping-option_popup {
    width: 300px;
    height: 180px;
  }

  .shopping-option_popup .back_btn {
    font-size: 1rem;
  }

  .shopping-option_popup header {
    transform: translateY(20px);
    gap: 0.3rem;
  }

  .shopping-option_popup header h3 {
    font-size: 1.5rem;
  }

  .shopping-option_popup ul {
    width: 300px;
    font-size: 1.15rem;
  }

  .shopping-option_popup ul li {
    width: 95px;
    height: 35px;
  }
}

/* SPECIFIC STYLES TO SPECIFIC POPUPS */

/* CONFIRMATION POPUP */

.confirmation_popup .styler {
  width: 60px;
}

.confirmation_popup ul li {
  width: 160px;
  font-size: 1.1rem;
}

/* RESPONSIVE DESIGN */

@media screen and (max-width: 500px) {
  .confirmation_popup {
    height: 220px;
    width: 330px;
  }

  .confirmation_popup ul {
    flex-direction: column;
    gap: 0.7rem;
    width: 330px;
    align-items: center;
    justify-content: center;
  }

  .confirmation_popup ul li {
    width: 155px;
  }
}

@media screen and (max-width: 385px) {
  .confirmation_popup {
    height: 180px;
    width: 300px;
  }

  .confirmation_popup ul {
    width: 300px;
    padding-bottom: 1rem;
  }

  .confirmation_popup ul li {
    width: 170px;
  }
}

@media screen and (max-width: 335px) {
  .confirmation_popup {
    height: 180px;
    width: 290px;
  }

  .confirmation_popup ul {
    gap: 0.7rem;
    width: 290px;
    padding-bottom: 1.2rem;
  }
}

/* SUCCESSFUL / FAILED POPUP */

.success_popup .styler,
.failed_popup .styler {
  width: 60px;
}

/* RESPONSIVE DESIGN */

@media screen and (max-width: 501px) {
  .success_popup_footer p,
  .failed_popup_footer p {
    font-size: 1rem;
  }
}

@media screen and (max-width: 385px) {
  .success_popup h3,
  .failed_popup h3,
  .success_popup_footer h3,
  .failed_popup_footer h3 {
    transform: translateY(5px);
  }

  .success_popup_footer p,
  .failed_popup_footer p {
    font-size: 0.9rem;
  }
}

/* PAYMENT SUCCESS POPUP */

.payment_popup,
.failed_payment_popup {
  gap: 2rem;
  padding: 1rem;
}

.payment_popup p,
.failed_payment_popup p {
  display: flex;
  gap: 0.2rem;
  flex-direction: column;
  align-items: center;
  padding-top: 1rem !important;
}

/* PAYMENT POPUPS RESPONSIVE DESIGN */

@media screen and (max-width: 501px) {
  .payment_popup,
  .failed_payment_popup {
    gap: 1rem;
  }

  .payment_popup header h3,
  .failed_payment_popup header h3 {
    font-size: 1.7rem;
  }

  .payment_popup p,
  .failed_payment_popup p {
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 385px) {
  .payment_popup,
  .failed_payment_popup {
    gap: 0.4rem;
  }

  .payment_popup p,
  .failed_payment_popup p {
    padding-top: 2.8rem !important;
  }
}

/* POPUP ACTIVATION */

.shopping-option_popup.active {
  opacity: 1;
  z-index: 100000;
}

/* GENERAL STYLES */

body {
  background: var(--BACKGROUND);
}

@media (prefers-color-scheme: dark) {
  body {
    background: var(--BACKGROUND);
  }
}

/* NAVIGATION STYLES */

#navigation {
  display: flex;
  align-items: center;
  max-width: 100vw;
  justify-content: space-between;
  padding: 1rem;
  font-weight: light;
  letter-spacing: 1px;
  font-family: var(--NAVIGATION_FONT);
  padding: 0.2rem 1.5rem;
}

#navigation h1,
#navigation h1 a {
  display: flex;
  flex-direction: column;
  z-index: 100;
}

.nav-elements {
  display: flex;
  align-items: center;
  font-size: 1.3rem;
  position: relative;
  z-index: 100;
}

.nav-elements li {
  position: relative;
}

.nav-elements li .indicator {
  height: 8px;
  width: 8px;
  border-radius: 5px;
  background: transparent;
  transition: all 0.3s ease;
}

.nav-elements li:not(:last-child) {
  width: 100px;
  display: flex;
  gap: 0.2rem;
  align-items: center;
  flex-direction: column-reverse;
}

.nav-elements li.page .indicator {
  background: var(--BTNCOLOR);
}

.nav-elements li:hover .indicator {
  background: var(--BTNCOLOR);
}

.nav-elements li:not(.page):hover a:any-link {
  opacity: 0.7;
}

.cart_icon {
  margin-left: 1rem;
  display: flex;
  align-items: center;
  flex-direction: column-reverse;
  position: relative;
}

.cart_icon .indicator {
  opacity: 0;
}

.cart_amount {
  position: absolute;
  bottom: -10px;
  right: -10px;
  color: var(--BTNCOLOR);
}

.nav-elements li.drop-icon {
  display: none !important;
}

.side-bar-elements {
  display: none;
}

@media screen and (max-width: 800px) {
  .nav-elements {
    font-size: 1.15rem;
  }

  .nav-elements li:not(:last-child) {
    width: 80px;
  }
}

@media screen and (max-width: 650px) {
  #navigation h1 a img {
    width: 75px;
  }

  .nav-elements li:not(.cart-li, .drop-icon) {
    display: none;
  }

  .nav-elements li.drop-icon {
    display: grid !important;
    place-content: center;
    height: 40px;
    width: 40px;
  }

  .nav-elements li.drop-icon.active {
    animation: dropSpin 0.7s ease;
  }

  @keyframes dropSpin {
    from {
      transform: rotate(0deg);
    }

    to {
      transform: rotate(-360deg);
    }
  }

  .nav-elements li.drop-icon span {
    width: 30px;
    height: 1.5px;
    background: black;
    position: relative;
    transition: all 0.3s ease;
  }

  .nav-elements li.drop-icon span::before,
  .nav-elements li.drop-icon span::after {
    content: "";
    position: absolute;
    left: 0;
    background: black;
    height: inherit;
    width: 100%;
    transition: all 0.3s ease;
  }

  .nav-elements li.drop-icon span::before {
    top: -10px;
  }

  .nav-elements li.drop-icon span::after {
    bottom: -10px;
  }

  .nav-elements li.drop-icon.active span {
    background: transparent;
  }

  .nav-elements li.drop-icon.active span::before {
    top: 0;
    transform: rotate(-45deg);
  }

  .nav-elements li.drop-icon.active span::after {
    bottom: 0;
    transform: rotate(45deg);
  }

  .side-bar-elements {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
    background: var(--BACKGROUND);
    padding: 0 1.5rem;
    opacity: 0;
    z-index: -1;
    transition: all 0.3s ease;
    transform: translateX(-5px);
  }

  .side-bar-elements.active {
    opacity: 1;
    z-index: 10;
    transform: translateX(0);
  }

  .side-bar-elements li {
    position: relative;
    height: 60px;
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  }

  .side-bar-elements li:first-child {
    border-top: 1px solid rgba(0, 0, 0, 0.2);
  }

  .side-bar-elements li a:any-link {
    position: absolute;
    top: 0;
    left: 0;
    display: grid;
    place-content: center;
    width: 100%;
    height: 100%;
    font-family: var(--NAVIGATION_FONT);
    font-size: 1.2rem;
  }
}

/* MAIN CONTENT STYLES */

#main-content {
  min-height: 100vh;
}

.shopping-cart {
  max-width: 100vw;
}

#main-content header,
.shopping-cart header {
  display: grid;
  place-content: center;
  position: relative;
  margin: 1rem;
}

#main-content header h4 {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  display: none;
  place-content: center;
  font-family: var(--NAVIGATION_FONT);
  font-weight: lighter;
  color: var(--BTNCOLOR);
  transform: translateY(5px);
}

#main-content header.achieved {
  height: 20vh;
  margin: 0;
}

#main-content header.achieved h4 {
  display: grid;
}

#main-content h2,
.shopping-cart h2 {
  font-family: var(--PRICE_FONT);
  font-weight: lighter;
  font-size: 3rem;
  position: relative;
}

#main-content h2::before,
.shopping-cart h2::before {
  content: "";
  position: absolute;
  height: 1.5px;
  width: 50%;
  background: black;
  bottom: -10px;
  transition: all 0.3s;
  animation: lineExpand 0.8s ease;
}

@media screen and (max-width: 560px) {
  #main-content header h2,
  .shopping-cart header h2 {
    font-size: 2rem;
  }
}

/* FOOTER STYLES */

footer {
  margin: 1rem;
  padding: 2rem;
  margin-top: 2rem;
  display: flex;
  gap: 1rem;
  justify-content: center;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}

footer #copyright {
  font-family: var(--NAVIGATION_FONT);
  font-size: 1.4rem;
}

footer a:any-link {
  display: grid;
  place-content: center;
}
