/* NAV ELEMENTS */

.nav-elements li::before {
  transform: scaleX(1);
}

.nav-elements li:nth-child(2)::before,
.nav-elements li:nth-child(3)::before,
.nav-elements li:last-child::before {
  transform: scaleX(0);
}

.nav-elements li:nth-child(2):hover::before,
.nav-elements li:nth-child(3):hover::before,
.nav-elements li:last-child:hover::before {
  transform: scaleX(1);
}

.nav-elements li.cart_btn.active::before {
  transform: scaleX(1);
}

/* GENERAL STYLES */

#main-content h2::before {
  transform: translateX(35px);
}

@keyframes lineExpand {
  from {
    transform: translateX(35px) scaleX(0);
  }
  to {
    transform: translateX(35px) scaleX(1);
  }
}

/* ORIGINAL SHOP STYLES */

#main-content {
  min-height: 100vh;
}

#original_shop {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  padding: 0 1rem;
  padding-top: 2rem;
  max-width: 100vw;
  position: relative;
}

.item {
  position: relative;
  width: 30vw;
  aspect-ratio: 3 / 4;
}

.item li img {
  border: 1px solid var(--BACKGROUND);
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  transition: all 0.6s ease;
  animation: appear ease 1.4s;
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.first_item img {
  z-index: 1;
  transition: all 0.3s;
}

.item_details {
  display: flex;
  gap: 0.5em;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

.item-name {
  font-size: 2rem;
  font-family: var(--DESCRIPTION_FONT);
}

.item-name span {
  font-size: 1.3rem;
}

.availability {
  color: var(--BTNCOLOR);
  font-family: var(--PRICE_FONT);
}

/* MAIN CONTENT ITEMS RESPONSIVE DESIGN */

@media screen and (max-width: 955px) {
  .item {
    width: 45vw;
  }
}

@media screen and (max-width: 610px) {
  .item {
    width: 80vw;
  }
}

@media screen and (max-width: 430px) {
  .item-name {
    font-size: 1.6rem;
  }
}

@media screen and (max-width: 400px) {
  .item {
    width: 90vw;
  }
}

/* PROCEED_PAGE / EDIT SECTION (ADMIN) PAGE */

#proceed_page .back_btn_container,
#edit_section .back_btn_container {
  max-width: 100vw;
  padding: 1.2rem 4.5rem;
  display: flex;
  justify-content: space-between;
}

.back_btn_container button {
  font-family: var(--DESCRIPTION_FONT);
  font-size: 1.3rem;
  text-transform: uppercase;
  background: transparent;
  cursor: pointer;
  z-index: 1000;
  color: black;
}

#proceed_page figure,
#edit_section figure {
  display: flex;
  padding: 0 4.5rem;
  gap: 2rem;
}

#proceed_page .item,
#edit_section .item {
  width: 50vw;
  aspect-ratio: 3 / 4;
}

#proceed_page .item_details,
#edit_section .item_details {
  display: flex;
  gap: 0.5em;
  flex-direction: column;
  align-items: unset;
  width: 40vw;
}

#proceed_page .item-name,
#edit_section .item-name div {
  font-size: 3.8rem;
  font-family: var(--DESCRIPTION_FONT);
  display: flex;
  align-items: flex-end;
}

#proceed_page .price,
#proceed_page .value,
#proceed_page .date,
#edit_section .price,
#edit_section .value,
#edit_section .date {
  display: block;
}

#proceed_page .price,
#edit_section .price {
  font-family: var(--PRICE_FONT);
  font-size: 1.7rem;
  font-weight: lighter;
  color: rgba(0, 0, 0, 0.7);
  margin-bottom: 1rem;
}

#proceed_page .availability,
#proceed_page .value,
#proceed_page .date,
#edit_section .availability,
#edit_section .value,
#edit_section .date {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

#proceed_page .availability,
#proceed_page .value,
#proceed_page .date,
#edit_section .availability,
#edit_section .value,
#edit_section .date {
  margin-bottom: 1rem;
}

#proceed_page .value,
#proceed_page .date,
#edit_section .value,
#edit_section .date {
  font-family: var(--DESCRIPTION_FONT);
}

.item_details div {
  display: flex;
  gap: 1rem;
}

.add_to_cart_btn {
  background: transparent;
  border: 1px solid;
  margin-top: 0.5rem;
  border-radius: 5px;
  width: 150px;
  height: 40px;
  display: grid;
  place-content: center;
  font-family: var(--NAVIGATION_FONT);
  font-weight: light;
  color: black;
  font-size: 1.1rem !important;
  overflow: hidden;
  cursor: pointer;
  position: relative;
  transition: all 0.6s;
}

.add_to_cart_btn::after {
  content: "";
  position: absolute;
  top: 0;
  left: -10px;
  height: inherit;
  width: 0;
  background: #6a2828;
  transform: skewX(-20deg);
  transition: all 0.6s;
  z-index: -1;
}

.add_to_cart_btn:hover {
  color: white;
  border: 1px solid #6a2828;
}

.add_to_cart_btn:hover::after {
  width: 170px;
}

/* ADD TO CART PAGE RESPONSIVE DESIGN */

@media screen and (max-width: 990px) {
  #proceed_page .back_btn_container,
  #edit_section .back_btn_container {
    padding: 1rem 2.5rem;
  }

  #proceed_page figure,
  #edit_section figure {
    display: flex;
    gap: 1.5rem;
    padding: 0 2.5rem;
    justify-content: space-evenly;
  }

  #proceed_page .item,
  #edit_section .item {
    width: 60vw;
  }

  #proceed_page .item-name,
  #edit_section .item-name {
    font-size: 2.9rem;
    white-space: nowrap;
  }

  #proceed_page .availability,
  #proceed_page .value,
  #proceed_page .date,
  #proceed_page .price,
  #edit_section .availability,
  #edit_section .value,
  #edit_section .date,
  #edit_section .price {
    font-size: 1.4rem;
  }
}

@media screen and (max-width: 800px) {
  #proceed_page figure,
  #edit_section figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  #proceed_page .item,
  #edit_section .item {
    width: 60vw;
  }

  #proceed_page figcaption,
  #edit_section figcaption {
    width: 60vw;
    transform: translateX(-15px);
  }

  #proceed_page .item-name,
  #proceed_page .availability,
  #proceed_page .price,
  #proceed_page .value,
  #proceed_page .date,
  #edit_section .item-name,
  #edit_section .availability,
  #edit_section .price,
  #edit_section .value,
  #edit_section .date {
    width: 80vw;
  }
}

@media screen and (max-width: 755px) {
  #proceed_page .item-name,
  #edit_section .item-name {
    font-size: 2.3rem;
  }

  #proceed_page .availability,
  #proceed_page .value,
  #proceed_page .date,
  #proceed_page .price,
  #edit_section .availability,
  #edit_section .value,
  #edit_section .date,
  #edit_section .price {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 390px) {
  .add_to_cart_btn {
    width: 120px !important;
    height: 35px !important;
    font-size: 1rem !important;
  }

  .add_to_cart_btn:hover::after {
    width: 130px;
  }
}

@media screen and (max-width: 460px) {
  #proceed_page .back_btn_container,
  #edit_section .back_btn_container {
    padding: 1rem;
  }

  #proceed_page .item,
  #edit_section .item {
    width: 90vw;
  }

  #proceed_page figcaption,
  #edit_section figcaption {
    width: 90vw;
  }

  #proceed_page .item-name,
  #proceed_page .availability,
  #proceed_page .value,
  #proceed_page .date,
  #edit_section .item-name,
  #edit_section .availability,
  #edit_section .value,
  #edit_section .date {
    width: 90vw;
  }
}
